{{>header}}
{{#section 'head'}}
Edit Campground
{{/section}}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="py-3 text-center fs-5">
                Edit campground
            </div>
            <form action="/campgrounds/{{{campground._id}}}/edit?_method=PATCH" class="needs-validation" method="POST"
                enctype="multipart/form-data" novalidate>
                <dir class="form-group">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="campground[title]" value="{{{campground.title}}}"
                            required id="title">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" name="campground[location]"
                            value="{{{campground.location}}}" id="location" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                            placeholder="0" name="campground[price]" value="{{{campground.price}}}" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Upload image(s)...</label>
                        <input class="form-control" type="file" id="images" name="images" multiple>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" name="campground[description]"
                            id="description">{{campground.description}}</textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        {{#each campground.imgUrl}}
                        <input class="form-check-inline" type="checkbox" value="{{{this.fileName}}}"
                            id="img{{{@index}}}" name="deleteImages[]">
                        <label class="form-check-label" for="img{{{@index}}}">
                            <img src="{{this.thumbnail}}" class="img-thumbnail" alt="image{{{@index}}} of campground">
                            {{/each}}
                    </div>

                    <button class="btn btn-info">Edit</button>
                </dir>
            </form>
        </div>
    </div>
</div>

{{>footer}}